div {
    width: 200px;
    height: 100px;
    display: block;

}

.caja{
    background-color: rgb(38, 109, 85);
    position: relative;
    display: flex;
    
    width: 400px;
    height: 100px;
    margin: auto;
    margin-top: 200px;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 20%;
    border-top-left-radius: 20%;
    
    

}

.caja2{
    background-color: rgb(163, 38, 16);
    position: relative;
    display: inline-block;
    width: 200px;
    height: 100px;
    margin: auto;
    margin: center;
    margin-left: 304px;
    border-bottom-left-radius: 20%;

}

.caja3{
    background-color: rgb(31, 16, 163);
    position: relative;
    display: inline-block;
    width: 200px;
    height: 100px;
    margin: auto;
    margin: center;
    margin-left: -4px;
    border-bottom-right-radius: 20%;

    
    
}