* responsive {
    margin-top: center;

}

body { 
    background-color: #c6d1ba;
    display: grid;
    place-items: center;
    height: 100vh;
    background: linear-gradient(90deg, rgba(33, 37, 41, 0.6) 0%, rgba(33, 37, 41, 0.24) 100%);
}

.box{
    background-color: #fff;
    height: 700px;
    width:500px;

    -webkit-box-shadow: 0 0 100px rgb(11, 255, 31);
        box-shadow: 0 0 100px rgb(240, 11, 11);

    

}

*{
    font-family: "LObster", cursive;
    font-weight: 100;
    font-size: 20px;

}


div { 
    margin: auto;
   
    width: 400px;
    height: 850px;
    margin: 20px;
    border: 5px solid rgb(22, 17, 17);
    display: block;
    border-radius: 30px;
}

.dd{
    margin: 4%
}

.date{
    
        margin: 2%
    
}

.usuario{
    margin: 2%
}

.password{
    margin: 2   %
}

h4{
    margin: 2%
}

.email {
    margin: 2%
}

#submit {
    margin: 10%
}

img {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: auto;
    opacity: 0.2;
    top: 10px;
    left: 100;
    right: 0;
    down: auto;
    bottom: 0;
    opacity: 0.4;

    border-radius: 20px;
  }
  