* {
    font-family: "LObster", cursive;
    font-weight: 100;
    font-size: 20px;

}

div { 
    margin: auto;
    width: 400px;
    height: 850px;
    margin: 20px;
    border: 5px solid red;
    background: rgb(65, 182, 65);
    display: block;
}

.dd{
    margin: 2%
}

.date{
    
        margin: 2%
    
}

.usuario{
    margin: 2%
}

.password{
    margin: 2%
}

h4{
    margin: 2%
}

.email {
    margin: 2%
}

#submit {
    margin: 10%
}

form div img {
    opacity: 0.7;
  }
  