body{
    margin: 0;
    padding: 0;
    background:  #222;
  }
  
  ul{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
  }
  
  ul li{
    list-style: none;
  }
  
  ul li a{
    color:#fff;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 50% 0 50% 0;
    transition: 0.5s;
    font-weight:bold;
    letter-spacing: 1px;
  }
  
  ul li a:hover{
    background: #f01703;
    color:#fff;
  }