*{
    margin: 0;
    padding: 0;
}

section {padding-top: 1px; min-height: 100px; width: 920px; 
    margin: 20px auto;
    background: #ccc; box-shadow: 0 0 3px #000;}
   aside {float: left; margin-right: 10px; 
    background: yellow; width: 300px;
    height: 200px; margin-top: 10px; margin-left: 600px;}
   article {float:left;background: red; width: 600px;
     height: 600px; margin-top: 10px; margin-left:300px;}
   div {clear:both;}

