body{
    
    top: 0;
    margin: auto;
    
    font-family: Arial, "Helvetica Neue",
    helvetica, sans-serif;
    font-size:17px;
    color:#0935f8;
    line-height:1.6;
}

.caja1 {
    width: 200px;
    height: 200px;
    background: red;
    margin: auto;
}

.caja2 {
    width: 200px;
    height: 200px;
    background: yellow;
}

header {

    z-index: 100;
    
}

#showcase{
    background-image:url('https://picsum.photos/1200/1200?t=4');
    height: 400px;
    width: auto;
    display: flex;
    justify-content: space-between;
}



.social-container{
    width: 48px;
}

.social-container ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.social-container li {
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px  solid rgb(19, 17, 17);
    transition: all 1s;
    margin-top: 50%;
    margin-left: 1500px;
}

.social-container i {
    font-size: 1.5rem;
}

.social-container li:hover{
    background-color: #5c21e6;
    border-color: #E62721;
}

h1 {
    width: 380px;
    height: 90px;
    padding: 10px;
    margin: auto;
}

h2 {
    width: 80px;
    height: 50px;
    padding: 20px;
    margin-top: 10px;
    margin-d: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
h3 {
    width: 380px;
    height: 90px;
    padding: 10px;
    margin: auto;
}
h4 {
    width: 380px;
    height: 90px;
    padding: 10px;
    margin: auto;
}