body{
    
    top: 0;
    margin: auto;
    
    font-family: Arial, "Helvetica Neue",
    helvetica, sans-serif;
    font-size:17px;
    color:#0935f8;
    line-height:1.6;
}

.CAJA {
    width: 600px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    
}

.caja1 {
    width: 200px;
    height: 200px;
    background: red;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.caja2 {
    width: 200px;
    height: 200px;
    background: yellow;
    display: flex;
    justify-content: space-between;
    border: 10px solid
    
}

.caja3 {
    width: 200px;
    height: 200px;
    background: rgb(26, 148, 10);
}

.caja4 {
    width: 200px;
    height: 200px;
    background: rgb(5, 241, 241);
}

.CAJA01{
    width: 600px;
    height: 200px;
    display: flex;
    justify-content: space-between;
}

.caja5 {
        width: 200px;
        height: 200px;
        background: rgb(147, 4, 160);
        margin: auto;
        display: flex;
        justify-content: space-between;
        margin: 15px;
        padding: auto;
        border-radius: 10px;
}
    
    .caja6 {
        width: 200px;
        height: 200px;
        background: rgb(18, 14, 214);
        display: flex;
        justify-content: space-between;
        margin: 15px;
        padding: auto;
        border-radius: 10px;
        
    }
    
    .caja7 {
        width: 200px;
        height: 200px;
        background: rgb(148, 134, 10);
        border-radius: 12px;

    }
    
    .caja8 {
        width: 200px;
        height: 200px;
        background: rgb(5, 241, 241);
        margin: 15px;
        padding: auto;
        border-radius: 10px;
    }    




header {

    z-index: 100;
    
}

#showcase{
    background-image:url('https://picsum.photos/1200/1200?t=4');
    height: 400px;
    width: auto;
    display: flex;
    justify-content: space-between;
}



.social-container{
    width: 48px;
}

.social-container ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    margin-left: 200px;
    margin-right: 20px;
    padding-left: auto;
}

.social-container li {
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px  solid rgb(19, 17, 17);
    transition: all 1s;
    margin-top: 40%;
    margin-left: 1500px;
}

.social-container i {
    font-size: 2.1rem;
}

.social-container li:hover{
    background-color: #cc1e07;
    border-color: #218de6;
}

h1 {
    width: 380px;
    height: 90px;
    padding: 10px;
    margin: auto;
}

h2 {
    width: 80px;
    height: 50px;
    padding: 20px;
    margin-top: 10px;
    margin: 10px;
    margin-left: 100px;
    margin-right: 10px;
}
h3 {
    width: 380px;
    height: 90px;
    padding: 10px;
    margin: auto;
}
h4 {
    width: 380px;
    height: 90px;
    padding: 10px;
    margin: auto;
}