/* You can add global styles to this file, and also import other style files */

$orange: hsl(26, 100%, 55%);
$pale-orange: hsl(25, 100%, 94%);
$very-dark-blue: hsl(220, 13%, 13%);
$dark-blue: hsl(219, 9%, 45%);
$grey-blue: hsl(220, 14%, 75%);
$light-grey: hsl(223, 64%, 98%);

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Kumbh Sans', sans-serif;
}
body {
    overflow: hidden; /* Hide scrollbars */
}