body{
    margin:0;
    font-family: Arial, "Helvetica Neue",
    helvetica, sans-serif;
    font-size:17px;
    color:#926239;
    line-height:1.6;
}

#showcase{
    background-image:url('https://picsum.photos/400/400?t=4');
    height:800px;
}