@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* CSS Variables */
:root {
  --normal-font: 400;
  --bold-font: 600;
  --bolder-font: 900;
  --primary-color: #0652dd;
  --secondary-color: #ea2027;
  --line-height: 1.7rem;
  --transition: 0.4s ease-in;
}

/* Smooth scroll effect */
html {
  scroll-behavior: smooth;
}

/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*transition: vr(--transition);*/
}

 body {
  font-family: "Roboto", sans-serf;
}

nav {
  position: absolute;
  pointer-events: none;
  width: 1440px;
  
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.2);
  
  
  background: transparent;
  backdrop-filter: blur(100px);
  transition: 0.5s;
  height: 9vh;
  letter-spacing: 4px;
  margin-left: 0px;
  font-size: 29px;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
  font-size: 31px;
}


  ul li {
    list-style-type: none;
    display: flex;
    list-style: none;
    
  }

  
a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
} 

.fist {
    color: var(--secondary-color);
  }
  
  .jab {
    color: var(--primary-color);
  }
  
  .tv {
    color: var(--secondary-color);
  }
ul li{
  display: flex;
    list-style: none;
    
}